@import "~@brickchain/integrity-theme/theming";

.mat-chip {
  width: 60px;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.active {
    background-color: mat-color($integrity-green);
    color: mat-color($integrity-green, "default-contrast");
  }

  &.pending {
    background-color: mat-color($integrity-yellow);
    color: mat-color($integrity-yellow, "default-contrast");
  }

  &.revoked {
    background-color: mat-color($integrity-grey90);
    color: mat-color($integrity-grey90, "default-contrast");
  }
}

.cdk-column-name {
  flex: 1 0 auto;
  min-width: 150px;
}

.cdk-column-starts {
  flex: 0 1 150px;

  @media (max-width: 700px) {
    display: none;
  }
}

.cdk-column-ends {
  flex: 0 1 150px;

  @media (max-width: 550px) {
    display: none;
  }
}

.cdk-column-status {
  flex: 0 1 80px;

  @media (max-width: 400px) {
    display: none;
  }
}

.cdk-column-action {
  flex: 0 1 100px;
  display: flex;
  justify-content: flex-end;
  min-width: 100px;
}
