<mat-toolbar class="content-header">
  <app-stripe></app-stripe>
  <mat-toolbar-row>
    <mat-icon class="menu-icon" (click)="events.publish('toggle_drawer')">menu</mat-icon>
    <span *ngIf="role" class="mat-display-1"> {{role.description}}</span>
    <span class="mat-spacer"></span>
    <button mat-button color="accent" (click)="editRole(role)">
      <mat-icon>mode_edit</mat-icon> Edit group
    </button>
    <button mat-icon-button color="accent" (click)="editRole(role)">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button mat-button color="accent" (click)="deleteRole(role)">
      <mat-icon>delete</mat-icon> Delete group
    </button>
    <button mat-icon-button color="accent" (click)="deleteRole(role)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button color="accent" (click)="inviteToRole(role)">
      <mat-icon>person_add</mat-icon> Invite people
    </button>
    <button mat-icon-button color="accent" (click)="inviteToRole(role)">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group color="accent" (selectedTabChange)="tabChanged($event)">
  <mat-tab label="Group members">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Member email</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>

      <!-- Starts Column -->
      <ng-container matColumnDef="starts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.mandate_starts' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.data.timestamp | date:'short' }}</mat-cell>
      </ng-container>

      <!-- Starts Column -->
      <ng-container matColumnDef="ends">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.mandate_ends' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.data.timestamp | date:'short' }}</mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-chip-list>
            <mat-chip [ngClass]="item.status.toLowerCase()">{{"label." + item.status.toLowerCase() | translate }}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">

          <button mat-icon-button color="accent" (click)="revoke(item)" *ngIf="item.type != 'invite' && item.status == 'Active'">
            <mat-icon>block</mat-icon>
          </button>

          <button mat-icon-button color="accent" [matMenuTriggerFor]="inviteMenu" *ngIf="item.type == 'invite'">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #inviteMenu="matMenu" yPosition="below" [overlapTrigger]="false">
            <button mat-menu-item (click)="resend(item)">Resend invite</button>
            <button mat-menu-item (click)="delete(item)">Delete invite</button>
          </mat-menu>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-tab>
  <mat-tab label="Authorizations">
    <mat-expansion-panel class="mat-elevation-z0" *ngFor="let controller of controllers">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <a routerLink="/home/controller/{{controller.id}}">{{controller.name}}</a>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-divider></mat-divider>
        <ng-container *ngFor="let action of controller['actions']">
          <mat-list-item>
            {{action.label}}
            <span class="mat-spacer"></span>
            <mat-icon color="accent" *ngIf="action.roles.includes(role.name)">check</mat-icon>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-list>
    </mat-expansion-panel>
  </mat-tab>
</mat-tab-group>

<integrity-section title="Developer" enableExpansion="true" expansionId="mandates.dev" *ngIf="session.getItem('developer',false)">
  <mat-card>
    <mat-card-title>Role</mat-card-title>
    <mat-card-content>
      <pre>{{role | json }}</pre>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Items</mat-card-title>
    <mat-card-content>
      <pre>{{dataSource?.data | json }}</pre>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Controllers</mat-card-title>
    <mat-card-content>
      <pre>{{controllers | json }}</pre>
    </mat-card-content>
  </mat-card>
</integrity-section>
