<mat-toolbar class="content-header">
  <app-stripe></app-stripe>
  <mat-toolbar-row>
    <mat-icon class="menu-icon" (click)="events.publish('toggle_drawer')">menu</mat-icon>
    <span *ngIf="role" class="mat-display-1"> {{role.description}}</span>
    <span class="mat-spacer"></span>
    <button mat-button color="accent" (click)="editRole(role)">
      <mat-icon>mode_edit</mat-icon> {{'mandates.edit_role' | translate}}
    </button>
    <button mat-icon-button color="accent" (click)="editRole(role)">
      <mat-icon>mode_edit</mat-icon>
    </button>
    <button mat-button color="accent" (click)="deleteRole(role)">
      <mat-icon>delete</mat-icon> {{'mandates.delete_role' | translate}}
    </button>
    <button mat-icon-button color="accent" (click)="deleteRole(role)">
      <mat-icon>delete</mat-icon>
    </button>
    <button *ngIf="role" mat-button color="accent" routerLink="/{{session.realm}}/home/invite/{{role.id}}">
      <mat-icon>person_add</mat-icon> {{'mandates.invite_to_role' | translate}}
    </button>
    <button *ngIf="role" mat-icon-button color="accent" routerLink="/{{session.realm}}/home/invite/{{role.id}}">
      <mat-icon>person_add</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group color="accent" (selectedTabChange)="tabChanged($event)">
  <mat-tab [label]="'mandates.mandates_tab' | translate">
    <mat-table #table [dataSource]="dataSource" matSort>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.email' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.name }}</mat-cell>
      </ng-container>

      <!-- Starts Column -->
      <ng-container matColumnDef="starts">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.mandate_starts' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.data.validFrom | date:'short' }}</mat-cell>
      </ng-container>

      <!-- Starts Column -->
      <ng-container matColumnDef="ends">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.mandate_ends' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">{{ item.data.validUntil | date:'short' }}</mat-cell>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{'label.status' | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let item">
          <mat-chip-list>
            <mat-chip [ngClass]="item.status.toLowerCase()">{{"label." + item.status.toLowerCase() | translate }}</mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">

          <ng-template [ngIf]="item.type == 'invite'" [ngIfElse]="mandateButtons">
            <button mat-icon-button color="accent" [matMenuTriggerFor]="inviteMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #inviteMenu="matMenu" yPosition="below" [overlapTrigger]="false">
              <button mat-menu-item (click)="sendInvite(item)">{{'invite.menu_send_invite' | translate }}</button>
              <button mat-menu-item (click)="deleteInvite(item)">{{'invite.menu_delete_invite' | translate }}</button>
              <button mat-menu-item (click)="scanInvite(item)">{{'invite.menu_scan_invite' | translate }}</button>
            </mat-menu>
          </ng-template>

          <ng-template #mandateButtons>
            <button mat-icon-button color="accent" (click)="revokeMandate(item)" *ngIf="item.status == 'Active'">
              <mat-icon>block</mat-icon>
            </button>
          </ng-template>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-tab>
  <mat-tab [label]="'mandates.authorizations_tab' | translate">
    <ng-container *ngFor="let controller of controllers">
      <mat-expansion-panel class="mat-elevation-z0" *ngIf="controller['actions'] && controller['actions'].length > 0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <a routerLink="/{{session.realm}}/home/controller/{{controller.id}}">{{controller.name}}</a>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-divider></mat-divider>
          <ng-container *ngFor="let action of controller['actions']">
            <mat-list-item>
              {{action.label}}
              <span class="mat-spacer"></span>
              <mat-icon color="accent" *ngIf="action.roles.includes(role.name)">check</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </ng-container>
  </mat-tab>
</mat-tab-group>
