<div class="content mat-elevation-z0">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <h2 translate>entities.Controllers</h2>
      </mat-header-cell>
      <mat-cell *matCellDef="let controller" [routerLink]="['../controller', controller.id]">
        {{controller.name}} <span *ngIf="controller.descriptor?.requireSetup" translate>general.setup_required</span>
      </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon (click)="sync()" color="accent">sync</mat-icon>
        <mat-icon (click)="add()" color="accent">add_circle</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let controller">
        <mat-icon *ngIf="controller.descriptor?.addBindingEndpoint" (click)="binding(controller)" color="accent">link</mat-icon>
        <mat-icon (click)="settings(controller)" color="accent">settings</mat-icon>
        <mat-icon (click)="sync(controller)" color="accent">sync</mat-icon>
        <mat-icon (click)="delete(controller)" color="accent">remove_circle_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-toolbar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <button (click)="add()" mat-fab class="fab-add-button" [class.snack-bar-open]="isSnackBarOpen">
    <mat-icon>add</mat-icon>
  </button>

</div>

<div class="content guide" [hidden]="session.getItem('hide_controllers_guide',false)">
  <button mat-icon-button color="accent">
    <mat-icon (click)="session.setItem('hide_controllers_guide',true)">cancel</mat-icon>
  </button>
  <div [innerHTML]="'guide.controllers' | translate"></div>
</div>

<pre class="content developer" *ngIf="session.getItem('developer',false)">{{dataSource?.data | json }}</pre>
