<div class="realm-list">
  <div class="realm" *ngFor="let realm of session.realms">
    <app-realm-card [realm]="realm" (select)="realmSelected($event)" (delete)="realmDeleted($event)"></app-realm-card>
  </div>
  <form [formGroup]="realmForm">
    <mat-form-field>
      <input 
        formControlName="realm" 
        matInput 
        placeholder="{{ 'realm-list.enter_realm' | translate }}"
        (focus)="isOtherRealmInFocus = true" 
        (blur)="isOtherRealmInFocus = false">
      <div class="other-realm-circle overlay"></div>
      <div class="other-realm-hint" *ngIf="!isOtherRealmInFocus">Other</div>
      <mat-error *ngIf="realm.errors && realm.errors['required']" translate>realm-list.error_required</mat-error>
      <mat-error *ngIf="realm.errors && realm.errors['descriptor']" translate>realm-list.error_descriptor</mat-error>
    </mat-form-field>
    <div class="button-row">
      <button (click)="onCancel()" type="button" mat-button color="accent">{{ 'label.cancel' | translate }}</button>
      <button (click)="onSubmit()" type="button" mat-raised-button [disabled]="realmForm.invalid" color="accent">{{ 'label.done' | translate }}</button>
    </div>
  </form>
</div>
