.realm-list {
  background: white;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .realm {
    border-bottom: 1px solid #e6e6e6;
    margin: 0 20px;
  }

  form {
    margin: 20px 20px 0 70px;

    .mat-form-field {
      width: 100%;
    }

    .button-row {
      display: flex;
      justify-content: flex-end;

      button {
        margin-left: 10px;
      }
    }
  }

  .other-realm-circle {
    background-color: #000;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
    left: -50px;
    top: -15px;
  }

  .other-realm-hint {
    position: absolute;
    top: -25px;
    font-size: 16px;
    @keyframes fadein {
      0%   { opacity: 0;}
      100% { opacity: 1;}
    }
    animation-name: fadein;
    animation-duration: .9s;
  }
}
