<mat-toolbar class="content-header">
  <app-stripe></app-stripe>
  <mat-toolbar-row>
    <mat-icon class="back-icon" (click)="location.back()">arrow_back</mat-icon>
    <span class="mat-display-1" *ngIf="role">{{ 'invite-dialog.title' | translate:{role:role.description} }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content mat-elevation-z0" *ngIf="role">

  <div class="invite-form">

    <integrity-section [title]="'invite.settings_section' | translate">

      <div class="date-range">

        <div class="date-picker">
          <mat-form-field>
            <input matInput [(ngModel)]="startDate" name="d1" [owlDateTime]="d1" (dateTimeChange)="computeDates()" placeholder="{{ 'label.start_date' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="d1" color="accent">today</mat-icon>
            <owl-date-time #d1 [pickerType]="'calendar'"></owl-date-time>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="startTime" name="t1" [owlDateTime]="t1" (dateTimeChange)="computeDates()" placeholder="{{ 'label.start_time' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="t1" color="accent">schedule</mat-icon>
            <owl-date-time #t1 [pickerType]="'timer'" [stepMinute]="5"></owl-date-time>
          </mat-form-field>
        </div>

        <span class="hidden-when-narrow">{{ 'label.to' | translate }}</span>

        <div class="date-picker">
          <mat-form-field>
            <input matInput [(ngModel)]="endDate" name="d2" [owlDateTime]="d2" (dateTimeChange)="computeDates(false)" placeholder="{{ 'label.end_date' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="d2" color="accent">today</mat-icon>
            <owl-date-time #d2 [pickerType]="'calendar'"></owl-date-time>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="endTime" name="t2" [owlDateTime]="t2" (dateTimeChange)="computeDates(false)" placeholder="{{ 'label.end_time' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="t2" color="accent">schedule</mat-icon>
            <owl-date-time #t2 [pickerType]="'timer'"></owl-date-time>
          </mat-form-field>
        </div>

      </div>

    </integrity-section>

    <mat-divider></mat-divider>

    <integrity-section [title]="'invite.recipient_section' | translate">

      <mat-form-field>
        <textarea matInput integrityDragAndDrop (filesDropped)="recipientsDropped($event)" [(ngModel)]="recipients" (ngModelChange)="isChanged=true" placeholder="{{'invite.recipients_placeholder' | translate}}"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput [(ngModel)]="message" (ngModelChange)="isChanged=true" placeholder="{{'invite.message_placeholder' | translate}}">
      </mat-form-field>

    </integrity-section>

    <mat-divider></mat-divider>

    <div class="buttons">
      <button mat-button color="accent" (click)="resetForm()" [disabled]="!isChanged">{{'label.reset' | translate}}</button>
      <button mat-raised-button color="accent" (click)="sendInvite()">{{'label.send' | translate}}</button>
    </div>

  </div>

</div>
