<mat-toolbar class="content-header">
  <app-stripe></app-stripe>
  <mat-toolbar-row>
    <mat-icon class="back-icon" (click)="location.back()">arrow_back</mat-icon>
    <span class="mat-display-1" *ngIf="role">{{ 'invite.title' | translate:{role:role.description} }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content mat-elevation-z0" *ngIf="role">

  <div class="invite-form">

    <integrity-section [title]="'invite.settings_section' | translate">

      <div class="date-range">

        <div class="date-picker">
          <mat-form-field>
            <input matInput [(ngModel)]="startDate" name="d1" [owlDateTime]="d1" (dateTimeChange)="computeDates()" placeholder="{{ 'label.start_date' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="d1" color="accent">today</mat-icon>
            <owl-date-time #d1 [pickerType]="'calendar'"></owl-date-time>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="startTime" name="t1" [owlDateTime]="t1" (dateTimeChange)="computeDates()" placeholder="{{ 'label.start_time' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="t1" color="accent">schedule</mat-icon>
            <owl-date-time #t1 [pickerType]="'timer'" [stepMinute]="5"></owl-date-time>
          </mat-form-field>
        </div>

        <mat-checkbox [(ngModel)]="endDateEnabled" (ngModelChange)="isChanged=true">{{ 'invite.add_end_date' | translate }}</mat-checkbox>

        <div class="date-picker" *ngIf="endDateEnabled">
          <mat-form-field>
            <input matInput [(ngModel)]="endDate" name="d2" [owlDateTime]="d2" (dateTimeChange)="computeDates(false)" placeholder="{{ 'label.end_date' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="d2" color="accent">today</mat-icon>
            <owl-date-time #d2 [pickerType]="'calendar'"></owl-date-time>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="endTime" name="t2" [owlDateTime]="t2" (dateTimeChange)="computeDates(false)" placeholder="{{ 'label.end_time' | translate }}">
            <mat-icon matSuffix [owlDateTimeTrigger]="t2" color="accent">schedule</mat-icon>
            <owl-date-time #t2 [pickerType]="'timer'"></owl-date-time>
          </mat-form-field>
        </div>

      </div>

    </integrity-section>

    <mat-divider></mat-divider>

    <integrity-section [title]="'invite.recipient_section' | translate">

      <mat-form-field class="full-width">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6" integrityDragAndDrop class="dropzone"
          [(ngModel)]="recipients" (ngModelChange)="recipientsChanged()" (filesDropped)="recipientsDropped($event)" placeholder="{{'invite.recipients_placeholder' | translate}}"></textarea>
        <mat-hint align="start" translate>invite.recipients_hint</mat-hint>
        <mat-hint align="end">{{ 'invite.recipients_count_hint' | translate:{count:emails.length} }}</mat-hint>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6" [(ngModel)]="message" (ngModelChange)="isChanged=true"
          placeholder="{{'invite.message_placeholder' | translate}}"></textarea>
        <mat-hint align="start" translate>invite.message_hint</mat-hint>
      </mat-form-field>

    </integrity-section>

    <mat-divider></mat-divider>

    <integrity-section *ngIf="isSending || (sentInvites && sentInvites.length > 0) || (failedInvites && failedInvites.length > 0)" [title]="'invite.sending_section' | translate">
      <mat-progress-bar *ngIf="isSending" mode="buffer" [bufferValue]="progressBufferValue" [value]="progressValue" color="accent"></mat-progress-bar>
      <div *ngIf="!isSending && failedInvites.length == 0">
        {{ 'invite.send_summary_no_failures' | translate:{sent:sentInvites.length, failed:failedInvites.length, total:(sentInvites.length+failedInvites.length)} }}
      </div>
      <div *ngIf="!isSending && failedInvites.length > 0">
          {{ 'invite.send_summary_with_failures' | translate:{sent:sentInvites.length, failed:failedInvites.length, total:(sentInvites.length+failedInvites.length)} }}
      </div>
      <mat-accordion *ngIf="!isSending && failedInvites.length > 0">
        <mat-expansion-panel *ngFor="let invite of failedInvites">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  {{ invite.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="invite.error">
                {{ invite.error }}
            </div>
            <iframe *ngIf="invite.emailStatus && invite.emailStatus.rendered"
              style="width:100%; height:600px; border: 1px solid lightgrey"
              [srcdoc]="invite.emailStatus.rendered | safe: 'html'"></iframe>
        </mat-expansion-panel>
      </mat-accordion>
    </integrity-section>

    <div class="buttons">
      <button mat-button color="accent" (click)="resetForm()" [disabled]="isSending || !isChanged">{{'label.reset' | translate}}</button>
      <button mat-raised-button color="accent" *ngIf="!isSending" (click)="sendInvites()" [disabled]="isSending || !(message && emails.length > 0)">{{'label.send' | translate}}</button>
      <button mat-raised-button color="warn" *ngIf="isSending" (click)="cancelSending = true" [disabled]="cancelSending">{{'label.cancel' | translate}}</button>
    </div>

  </div>

</div>
