$blue: #20afe2;
$dark-blue: #004b97;
$yellow: #f9b026;
$orange: #f76a0a;
$red: #d42424;
$green: #4bb04f;

$background-color: #eee;
$superlight-grey: #e5e5e5;
$light-grey: #bfbfbf;
$mid-grey: #7f7f7f;
$dark-grey: #333;