@import '~@angular/material/theming';
@import '~theme/integrity-palette.scss';

$integrity-color-blue: #20afe2;
$integrity-color-dark-blue: #004b97;
$integrity-color-yellow: #f9b026;
$integrity-color-orange: #f76a0a;
$integrity-color-red: #d42424;
$integrity-color-green: #4bb04f;

$integrity-color-superlight-grey: #e5e5e5;
$integrity-color-light-grey: #bfbfbf;
$integrity-color-mid-grey: #7f7f7f;
$integrity-color-dark-grey: #333;

$integrity-primary: mat-palette($mat-integrity-dark-blue);
$integrity-accent: mat-palette($mat-integrity-blue);
$integrity-warn: mat-palette($mat-integrity-red);
$integrity-ok: mat-palette($mat-integrity-green);
$integrity-theme: mat-light-theme($integrity-primary, $integrity-accent, $integrity-warn);
