$mat-integrity-blue: (
    50 : #e4f5fc,
    100 : #bce7f6,
    200 : #90d7f1,
    300 : #63c7eb,
    400 : #41bbe6,
    500 : #20afe2,
    600 : #1ca8df,
    700 : #189fda,
    800 : #1396d6,
    900 : #0b86cf,
    A100 : #fafdff,
    A200 : #c7e8ff,
    A400 : #94d3ff,
    A700 : #7ac9ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-integrity-dark-blue: (
    50 : #e0e9f3,
    100 : #b3c9e0,
    200 : #80a5cb,
    300 : #4d81b6,
    400 : #2666a7,
    500 : #004b97,
    600 : #00448f,
    700 : #003b84,
    800 : #00337a,
    900 : #002369,
    A100 : #98b2ff,
    A200 : #658bff,
    A400 : #3265ff,
    A700 : #1952ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-integrity-yellow: (
    50 : #fef6e5,
    100 : #fde7be,
    200 : #fcd893,
    300 : #fbc867,
    400 : #fabc47,
    500 : #f9b026,
    600 : #f8a922,
    700 : #f7a01c,
    800 : #f69717,
    900 : #f5870d,
    A100 : #ffffff,
    A200 : #fff5ec,
    A400 : #ffdbb9,
    A700 : #ffcea0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-integrity-orange: (
    50 : #feede2,
    100 : #fdd2b6,
    200 : #fbb585,
    300 : #f99754,
    400 : #f8802f,
    500 : #f76a0a,
    600 : #f66209,
    700 : #f55707,
    800 : #f34d05,
    900 : #f13c03,
    A100 : #ffffff,
    A200 : #ffe9e5,
    A400 : #ffc0b2,
    A700 : #ffab98,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-integrity-red: (
    50 : #fae5e5,
    100 : #f2bdbd,
    200 : #ea9292,
    300 : #e16666,
    400 : #da4545,
    500 : #d42424,
    600 : #cf2020,
    700 : #c91b1b,
    800 : #c31616,
    900 : #b90d0d,
    A100 : #ffe6e6,
    A200 : #ffb3b3,
    A400 : #ff8080,
    A700 : #ff6767,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-integrity-green: (
    50 : #e9f6ea,
    100 : #c9e7ca,
    200 : #a5d8a7,
    300 : #81c884,
    400 : #66bc69,
    500 : #4bb04f,
    600 : #44a948,
    700 : #3ba03f,
    800 : #339736,
    900 : #238726,
    A100 : #c6ffc7,
    A200 : #93ff95,
    A400 : #60ff63,
    A700 : #47ff4a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

