@import "~@angular/material/theming";
@import "~theme/integrity-theme.scss";

// Be sure that you only ever include this mixin once!
@include mat-core;

.integrity-theme {
  @include angular-material-theme($integrity-theme);

  $foreground-color: mat-contrast($integrity-grey, 200);
  $background-color: mat-color($integrity-grey, 200);

  app-root {
    background-color: $background-color;
  }

  .mat-toolbar {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-sidenav {
    background-color: $background-color;

    .mat-list-item {
      color: $foreground-color;
    }

    .active {
      color: mat-color($integrity-accent);
    }
  }

  .mat-sidenav-container {
    color: $foreground-color;
    background-color: $background-color;
  }

  .mat-form-field-ripple {
    background-color: mat-color($integrity-green);
  }
}
