@import '~@angular/material/theming';
@import 'theme/integrity-palette.scss';
@import 'theme/integrity-variables.scss';

// Be sure that you only ever include this mixin once!
@include mat-core();

$integrity-primary: mat-palette($mat-integrity-blue);
$integrity-accent: mat-palette($mat-integrity-yellow);
$integrity-warn: mat-palette($mat-integrity-red);
$integrity-theme: mat-light-theme($integrity-primary, $integrity-accent, $integrity-warn);

.integrity-theme {

    @include angular-material-theme($integrity-theme);

    .mat-toolbar {
        background-color: $background-color;
    }

    .mat-drawer {
        background-color: $background-color;
    }

    .mat-drawer-container {
        background-color: $background-color;
    }

}
