<div class="container">
  <app-stripe></app-stripe>
  <div class="header">
    <img src="assets/img/integrity_colour_landscape.svg" height="50%">
  </div>
  <div class="content">

    <div class="realm" #realmPopupTrigger (click)="showRealmList()">
      <div *ngIf="descriptor" class="description">
        {{ 'login.title' | translate:{realm:descriptor.description ? descriptor.description : descriptor.name} }}
      </div>
      <div *ngIf="descriptor" class="name">
        {{ descriptor.name }}
      </div>
    </div>

    <div class="qrcode">
      <integrity-qrcode *ngIf="qrUri" [qrdata]="qrUri" [integrityClipboard]="qrUri" (copySuccess)="showCopySuccess($event)" [class.copied]="copied"></integrity-qrcode>
    </div>

    <div *ngIf="descriptor" class="instructions">
      {{'login.instructions' | translate:{realm:descriptor.description ? descriptor.description : descriptor.name} }}
    </div>

    <mat-progress-bar *ngIf="qrUri" mode="determinate" [value]="qrCountdown" color="accent"></mat-progress-bar>

  </div>

</div>
