@import "~@brickchain/integrity-theme/theming";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  height: 100%;
  margin: 0 auto;

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background: #f6f6f6;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .content {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);

    .realm {
      text-align: center;
      margin-right: 4px;
      padding-bottom: 15px;
      width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .description {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .name {
        font-size: 14px;
        color: #7f7f7f;
      }
    }

    .qrcode {
      width: 340px;
      height: 325px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;

      integrity-qrcode {
        cursor: copy;
      }
    }

    .instructions {
      margin-bottom: 22px;
      width: 300px !important;
      text-align: center;
      color: #7f7f7f;
    }

    .mat-progress-bar {
      width: 300px !important;
      border-radius: 2px;
    }
  }
}
