// @import "~@brickchain/integrity-theme/theming";
@import "~@brickchain/integrity-theme/src/theme/integrity-theme.scss";

#login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    margin-left: 16px;
    margin-top: 2px;
    height: 36px;
  }
}

mat-card {
  mat-card-content {
    text-align: center;
  }

  mat-progress-bar {
    height: 2px !important;
  }
}
