<div class="container">
  <app-stripe></app-stripe>
  <div class="header">
    <img src="assets/img/integrity_colour_landscape.svg" height="50%">
  </div>
  <div class="content">

    <div class="realm" #realmPopupTrigger (click)="showRealmList()">
      <div *ngIf="descriptor" class="description">
        {{ 'login.title' | translate:{realm:descriptor.label ? descriptor.label : descriptor.id} }}
      </div>
      <div *ngIf="descriptor" class="name">
        {{ descriptor.id }}
      </div>
    </div>

    <div class="qrcode">
      <integrity-qrcode *ngIf="!platform.isMobile && qrUri" [qrdata]="qrUri" [integrityClipboard]="qrUri" (copySuccess)="showCopySuccess($event)" [class.copied]="copied"></integrity-qrcode>
      <button *ngIf="platform.isMobile && qrUri" mat-raised-button color="accent" (click)="platform.handleURI(qrUri)">
        {{'label.login' | translate}}
      </button>
    </div>

    <div *ngIf="!platform.isMobile && descriptor" class="instructions">
      {{'login.instructions_desktop' | translate:{realm:descriptor.label ? descriptor.label : descriptor.id} }}
    </div>

    <div *ngIf="platform.isMobile && descriptor" class="instructions">
      {{'login.instructions_mobile' | translate:{realm:descriptor.label ? descriptor.label : descriptor.id} }}
    </div>

    <mat-progress-bar *ngIf="qrUri" mode="determinate" [value]="qrCountdown" color="accent"></mat-progress-bar>

  </div>

</div>
