// @import "~@brickchain/integrity-theme/theming";
@import "~@brickchain/integrity-theme/src/theme/integrity-theme.scss";

.stripe {
  display: flex;
  width: 100%;
  height: 2px;
  position: fixed;
  z-index: 3;

  div {
    flex: 1;
  }

  div:nth-child(1) {
    background-color: mat-color($integrity-yellow);
  }

  div:nth-child(2) {
    background-color: mat-color($integrity-dark-blue);
  }

  div:nth-child(3) {
    background-color: mat-color($integrity-blue);
  }

  div:nth-child(4) {
    background-color: mat-color($integrity-orange);
  }
}
