<mat-sidenav-container class="integrity-background-color">

  <mat-sidenav #drawer class="integrity-background-color" [mode]="drawerMode" [opened]="drawerMode == 'side'" (swipeleft)="drawer.close()">

    <img class="logo" src="assets/img/integrity_colour_landscape.svg" *ngIf="drawerMode == 'side'">

    <img class="logo" src="assets/img/integrity_colour_landscape.svg" *ngIf="drawerMode == 'over'">

    <mat-divider *ngIf="profileMode == 'drawer'"></mat-divider>

    <div class="profile" *ngIf="realm && profileMode == 'drawer'" (click)="profile.toggle()">
      <div class="profile-icon" [style.background-image]="iconImage">
        <div class="overlay"></div>
        <mat-icon [class.popup-visible]="profile.expanded">keyboard_arrow_down</mat-icon>
      </div>
      <h3 class="profile-description">{{realm.label ? realm.label : realm.id}}</h3>
      <p class="profile-name">{{realm.id}}</p>
    </div>

    <mat-expansion-panel #profile class="profile-expansion-panel">
      <ng-container *ngIf="profileMode == 'drawer'">
        <mat-nav-list>
          <a mat-list-item [routerLink]="['settings']" routerLinkActive="active" (click)="drawerMode == 'over' ? drawer.close() : false">
            <mat-icon>settings</mat-icon>{{ 'menu.settings' | translate }}</a>
        </mat-nav-list>
        <ng-container *ngIf="!platform.inApp">
          <ng-container *ngFor="let realm of session.realms">
            <mat-divider></mat-divider>
            <app-realm-card [realm]="realm" (select)="switchRealm($event)" (delete)="removeRealm($event)"></app-realm-card>
          </ng-container>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <a mat-list-item routerLink="/other/login">
              <mat-icon>add</mat-icon>{{ 'menu.login_other' | translate }}</a>
          </mat-nav-list>
        </ng-container>
        <mat-divider></mat-divider>
        <mat-nav-list>
          <a mat-list-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>{{ 'menu.logout' | translate }}</a>
        </mat-nav-list>
      </ng-container>
    </mat-expansion-panel>

    <mat-divider *ngIf="profileMode == 'drawer'"></mat-divider>

    <mat-nav-list>
      <a mat-list-item
        routerLink="/{{session.realm}}/home"
        routerLinkActive="active"
        (click)="drawerMode == 'over' ? drawer.close() : false"
        [routerLinkActiveOptions]="{ exact : true }">
        <mat-icon>dashboard</mat-icon>{{ 'menu.dashboard' | translate }}
      </a>
      <a *ngIf="session.createRealms" mat-list-item [routerLink]="['realms']" routerLinkActive="active" (click)="drawerMode == 'over' ? drawer.close() : false">
        <mat-icon>domain</mat-icon>{{ 'menu.realms' | translate }}
      </a>
    </mat-nav-list>

    <integrity-section [title]="'menu.roles' | translate" enableExpansion="true" expansionId="home.roles" class="nav-list">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['mandates', role.id]" routerLinkActive="active" (click)="drawerMode == 'over' ? drawer.close() : false"
          *ngFor="let role of roles">
          <mat-icon>group</mat-icon>{{role.description}}</a>
        <a mat-list-item (click)="createRole()" routerLinkActive="active">
          <mat-icon>add</mat-icon>{{ 'menu.create_role' | translate }}</a>
      </mat-nav-list>
    </integrity-section>

    <integrity-section [title]="'menu.controllers' | translate" enableExpansion="true" expansionId="home.controllers" class="nav-list">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['controller', controller.id]" routerLinkActive="active" (click)="drawerMode == 'over' ? drawer.close() : false"
          *ngFor="let controller of controllers">
          <mat-icon *ngIf="controller.descriptor.icon else no_service_icon">
            <img src="{{controller.descriptor.icon}}" width="20" height="20">
          </mat-icon>
          <ng-template #no_service_icon>
            <mat-icon>trip_origin</mat-icon>
          </ng-template>
          {{controller.name}}
          <!-- span *ngIf="controller.descriptor?.requireSetup" translate>general.setup_required</span -->
        </a>
        <a mat-list-item (click)="syncControllers()" routerLinkActive="active">
          <mat-icon>sync</mat-icon>{{ 'menu.sync_controllers' | translate }}</a>
        <a mat-list-item (click)="addController()" routerLinkActive="active">
          <mat-icon>add</mat-icon>{{ 'menu.add_service' | translate }}</a>
      </mat-nav-list>
    </integrity-section>

  </mat-sidenav>

  <mat-sidenav-content (swiperight)="drawer.open()">

    <div class="content" [ngClass]="'drawer-'+drawerMode">
      <router-outlet></router-outlet>
    </div>

    <div class="profile" *ngIf="realm">
      <div class="profile-icon" #profileMenuTrigger="matMenuTrigger" [style.background-image]="iconImage" [matMenuTriggerFor]="profileMenu">
        <div class="overlay"></div>
        <mat-icon [class.popup-visible]="profileMenuTrigger.menuOpen">keyboard_arrow_down</mat-icon>
      </div>
      <h3 class="profile-description">{{realm.label ? realm.label : realm.id}}</h3>
      <p class="profile-name">{{realm.id}}</p>
    </div>

    <mat-menu class="profile-popup" #profileMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
      <button mat-menu-item [routerLink]="['settings']">
        <mat-icon>settings</mat-icon>{{ 'menu.settings' | translate }}
      </button>
      <ng-container *ngFor="let realm of session.realms">
        <mat-divider></mat-divider>
        <app-realm-card [realm]="realm" (select)="switchRealm($event)" (delete)="removeRealm($event)"></app-realm-card>
      </ng-container>
      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="/other/login">
        <mat-icon>add</mat-icon>{{ 'menu.login_other' | translate }}
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>{{ 'menu.logout' | translate }}
      </button>
    </mat-menu>

  </mat-sidenav-content>

</mat-sidenav-container>

<div *ngIf="isLoadingObserver | async" class="loading-overlay">
  <div class="loader">
      <mat-progress-spinner mode="indeterminate" diameter="70" color="accent"></mat-progress-spinner>
  </div>
</div>
