<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon class="menu-icon" (click)="drawer.toggle()">{{ drawer.opened ? 'close' : 'menu' }}</mat-icon>
    <img [class.hidden]="isHandsetPortrait" src="assets/img/integrity.svg" height="50%">
    <span class="spacer"></span>
    <span>{{realm}}</span>
    <span class="spacer"></span>
    <mat-icon [class.paused]="requestCount == 0" class="spin">sync</mat-icon>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container [class.narrow]="isHandsetPortrait">

  <mat-sidenav [mode]="isHandsetPortrait ? 'over' : 'side'" [opened]="!isHandsetPortrait" #drawer>
    <mat-nav-list>
      <a *ngIf="user?.owner" mat-list-item [routerLink]="['realms']" (click)="isHandsetPortrait ? drawer.close() : false">
        <mat-icon>domain</mat-icon> Realms</a>
      <a mat-list-item [routerLink]="['roles']" (click)="isHandsetPortrait ? drawer.close() : false">
          <mat-icon>people</mat-icon> Roles</a>
      <a mat-list-item [routerLink]="['services']" (click)="isHandsetPortrait ? drawer.close() : false">
          <mat-icon>dashboard</mat-icon> Services</a>
      <mat-divider></mat-divider>
      <a mat-list-item [routerLink]="['settings']" (click)="isHandsetPortrait ? drawer.close() : false">
          <mat-icon>settings</mat-icon> {{realm}}</a>
    </mat-nav-list>
  </mat-sidenav>

  <div id="main-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
