<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{realm}}</span>
    <span class="spacer"></span>
    <mat-icon [class.paused]="requestCount == 0" class="spin">sync</mat-icon>
    <mat-icon [routerLink]="['settings']">settings</mat-icon>
    <mat-icon (click)="logout()">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <mat-nav-list>
      <a *ngIf="user?.owner" mat-list-item [routerLink]="['realms']">Realms</a>
      <a mat-list-item [routerLink]="['roles']">Roles</a>
      <a mat-list-item [routerLink]="['services']">Services</a>
    </mat-nav-list>
  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
