mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0
}

.menu-icon {
  display: none;
}

@media (max-width: 599px) and (orientation: portrait) {
  .menu-icon {
      display: block;
  }
}

.spin {
  animation: spin 1s ease-in-out infinite reverse;
  transition: all 0.25s ease-in-out;
  opacity: 0.7;
}

.spin.paused {
  animation-play-state: paused;
  opacity: 0;
}
