<div class="content mat-elevation-z0" *ngIf="realm && roles">

  <div class="settings-form">

    <mat-form-field>
      <input matInput [(ngModel)]="realm.description" (ngModelChange)="isChanged=true" placeholder="{{'label.description' | translate}}">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="realm.guestRole" (ngModelChange)="isChanged=true" placeholder="{{'settings.guest_role' | translate}}">
        <mat-option [value]="undefined">
          {{'settings.no_public_role' | translate}}
        </mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.name">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="dropzone icon" integrityDragAndDrop (filesDropped)="iconDropped($event)" [extensions]="['png', 'jpg', 'gif', 'svg']"
      [style.background-image]="iconImage" [class.dnd-dropped]="iconImage">
      <mat-icon *ngIf="!iconIsProcessing" color="accent">add</mat-icon>
      <mat-progress-spinner *ngIf="iconIsProcessing" mode="indeterminate" diameter="30" color="accent"></mat-progress-spinner>
      <input type="file" />
    </div>

    <div class="dropzone banner" integrityDragAndDrop (filesDropped)="bannerDropped($event)" [extensions]="['png', 'jpg', 'gif', 'svg']"
      [style.background-image]="bannerImage" [class.dnd-dropped]="bannerImage">
      <mat-icon *ngIf="!bannerIsProcessing" color="accent">add</mat-icon>
      <mat-progress-spinner *ngIf="bannerIsProcessing" mode="indeterminate" diameter="30" color="accent"></mat-progress-spinner>
      <input type="file" />
    </div>

    <mat-divider></mat-divider>

    <div class="buttons">
      <button mat-button (click)="loadRealm()" [disabled]="!isChanged">{{'label.reset' | translate}}</button>
      <button mat-raised-button color="accent" (click)="updateRealm()">{{'label.save' | translate}}</button>
    </div>

  </div>

</div>

<div class="content guide" [hidden]="session.getItem('hide_settings_guide',false)">
  <button mat-icon-button color="accent">
    <mat-icon (click)="session.setItem('hide_settings_guide',true)">cancel</mat-icon>
  </button>
  <div [innerHTML]="'guide.settings' | translate"></div>
</div>

<pre class="content developer" *ngIf="session.getItem('developer','false') == 'true'">{{realm | json }}</pre>
