.dropzone {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  background-size: 100% 100%;

  &.icon {
    height: 100px;
    width: 100px;
    border: 1px dashed red;
    border-radius: 50px;
  }

  &.banner {
    height: 100px;
    width: 300px;
    border: 1px dashed red;
    border-radius: 5px;
  }

  &.dnd-dropped {
    border: 1px solid grey;
    mat-icon {
      display: none;
    }
  }

  &.dnd-hover {
    border: 1px dashed blue;
    mat-icon {
      color: blue;
    }
  }

}
