@import "~@brickchain/integrity-theme/theming";

.content-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.settings-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      margin: 12px 0 0 12px;
    }
  }

  .mat-caption {
    color: #7f7f7f;
  }

  .mat-form-field {
    width: 100%;
  }

  .dropzone {
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;

    .mat-icon {
      font-size: 30px !important;
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
    }

    &.icon {
      height: 100px;
      width: 100px;
      border: 1px dashed mat-color($integrity-accent);
      border-radius: 50px;
    }

    &.banner {
      height: 100px;
      width: 300px;
      border: 1px dashed mat-color($integrity-accent);
      border-radius: 5px;
    }

    &.dnd-dropped {
      border: 1px solid mat-color($integrity-grey, 200);

      mat-icon {
        display: none;
      }
    }

    &.dnd-hover {
      opacity: 0.5;
      border: 1px solid mat-color($integrity-accent);
    }

    input[type=file] {
      display: none;
    }
  }
}
