.realm {
  width: 100%;
  height: 38px;
  padding: 10px 0;
  cursor: pointer;
  user-select: none;

  .icon {
    float: left;
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-size: cover;
    background-position: center center;
    margin: 4px 20px 4px 0;

    .overlay {
      background-color: #000;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      opacity: 0.2;
      position: relative;
      z-index: 1;
    }
  }

  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .name {
    color: #7f7f7f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
  }

  &.no-descriptor {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
