<div class="realm" (click)="selectRealm()" [class.no-descriptor]="!descriptor">

  <div class="icon" [style.background-image]="icon">
    <div class="overlay"></div>
  </div>

  <button mat-icon-button color="accent" class="delete" *ngIf="error" (click)="deleteRealm()">
    <mat-icon>remove_circle</mat-icon>
  </button>

  <p class="description" *ngIf="descriptor">{{descriptor.label ? descriptor.label : descriptor.id}}</p>
  <p class="name" *ngIf="descriptor">{{descriptor.id}}</p>

  <p class="description" *ngIf="!descriptor" translate>realm-card.no_descriptor</p>
  <p class="name" *ngIf="!descriptor">{{realm}}</p>

</div>
