<div class="content mat-elevation-z0">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <h2 translate>entities.Realms</h2>
      </mat-header-cell>
      <mat-cell *matCellDef="let realm" (click)="select(realm)">{{realm.name}}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon (click)="create()" color="accent">add_circle</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let realm">
        <mat-icon *ngIf="session.realm != realm.id" (click)="delete(realm)" color="accent">remove_circle_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-toolbar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>
