<mat-toolbar class="content-header">
  <app-stripe></app-stripe>
  <mat-toolbar-row>
    <mat-icon class="menu-icon" (click)="events.publish('toggle_drawer')">menu</mat-icon>
    <span class="mat-display-1" translate>label.realms</span>
    <span class="mat-spacer"></span>
    <button mat-button color="accent" (click)="create()">
      <mat-icon>add_circle</mat-icon>{{ 'label.create_realm' | translate }}
    </button>
    <button mat-icon-button color="accent" (click)="create()">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-table #table [dataSource]="dataSource" matSort>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'label.name' | translate }}</mat-header-cell>
    <mat-cell *matCellDef="let realm">
      <span>{{realm.description ? realm.description : realm.name}}</span>
      <br>
      <span class="mat-caption">{{realm.name}}</span>
    </mat-cell>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>
    <mat-cell *matCellDef="let realm">

      <!--
      <button mat-icon-button color="accent" [matMenuTriggerFor]="realmMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #realmMenu="matMenu" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)="invite(realm)">Send admin invite</button>
        <button mat-menu-item (click)="delete(realm)" *ngIf="session.realm != realm.id && !realm.ownerRealm">Delete realm</button>
      </mat-menu>
      -->
      <button mat-icon-button (click)="invite(realm)">
        <mat-icon>person_add</mat-icon>
      </button>
      <button mat-icon-button (click)="delete(realm)" [disabled]="session.realm == realm.id && realm.ownerRealm">
        <mat-icon>delete</mat-icon>
      </button>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-toolbar"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
