<div class="content mat-elevation-z0">

  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <h2 translate>entities.Realms</h2>
      </mat-header-cell>
      <mat-cell *matCellDef="let realm" (click)="select(realm)">{{realm.name}}</mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon (click)="create()" color="accent">add_circle</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let realm">
        <mat-icon *ngIf="session.realm != realm.id" (click)="delete(realm)" color="accent">remove_circle_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="mat-toolbar"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <button (click)="create()" mat-fab class="fab-add-button" [class.snack-bar-open]="isSnackBarOpen">
    <mat-icon>add</mat-icon>
  </button>

</div>

<div class="content guide" [hidden]="session.getItem('hide_realms_guide',false)">
  <button mat-icon-button color="accent">
    <mat-icon (click)="session.setItem('hide_realms_guide',true)">cancel</mat-icon>
  </button>
  <div [innerHTML]="'guide.realms' | translate"></div>
</div>

<pre class="content developer" *ngIf="session.getItem('developer',false)">{{dataSource?.data | json }}</pre>
