@import '~@angular/material/theming';

// font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600');

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$integrity-font: mat-typography-config(
  $font-family: "'Source Sans Pro', sans-serif"
);
@include mat-core($integrity-font);

// Be sure that you only ever include this mixin once!
//@include mat-core();


$mat-integrity-palette: (
    50 : #fcfcfc,
    100 : #f6f6f6,
    200 : #f2f2f2,
    300 : #eeeeee,
    400 : #e9e9e9,
    500 : #e5e5e5,
    600 : #e2e2e2,
    700 : #dedede,
    800 : #dadada,
    900 : #d3d3d3,
    A100 : #28cff4,
    A200 : #20afe2,
    A400 : #1a8fc6,
    A700 : #105a87,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #ffffff,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-integrity-warning-palette: (
    50 : #fef6e5,
    100 : #fde7be,
    200 : #fcd893,
    300 : #fbc867,
    400 : #fabc47,
    500 : #f9b026,
    600 : #f8a922,
    700 : #f7a01c,
    800 : #f69717,
    900 : #f5870d,
    A100 : #ffffff,
    A200 : #fff5ec,
    A400 : #ffdbb9,
    A700 : #ffcea0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$integrity-primary: mat-palette($mat-integrity-palette);
$integrity-accent:  mat-palette($mat-integrity-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$integrity-warn:    mat-palette($mat-integrity-warning-palette);

// Create the theme object (a Sass map containing all of the palettes).
$integrity-theme: mat-light-theme($integrity-primary, $integrity-accent, $integrity-warn);



// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($integrity-theme);


.integrity-background-color {
    background-color: mat-color($integrity-primary, 100);
}