/* You can add global styles to this file, and also import other style files */
@import "~@brickchain/integrity-theme/material-theme";
@import "~ng-pick-datetime/assets/style/picker.min.css";

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.mat-toolbar-row {
  height: 90px;
}

.mat-tab-body-content {
  margin: 0 30px;

  @media (max-width: 500px) {
    margin: 0 10px;
  }
}

.mat-header-row, .mat-row {
  flex-direction: row;
  justify-content: space-between;
}

.mat-header-row {
  box-shadow: none !important;
}

.mat-row:last-of-type {
  border: none;
}

.mat-header-cell {
  cursor: pointer;
}

.mat-sort-header-container {
  align-items: baseline;
}

.profile {
  min-height: 50px;
}

.profile-popup {
  margin-top: 20px;
  width: 270px;
  position: relative;
  overflow: visible !important;
  left: 15px;

  .realm {
    .icon {
      margin: 4px 10px 4px 10px !important;
    }
  }

  .mat-menu-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.profile-popup::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  right: 7px;
  box-sizing: border-box;
  border: 10px solid black;
  border-color: transparent transparent #fff #fff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -2px 2px 2px 0 rgba(0, 0, 0, 0.05);
}

.content-header {
  .menu-icon, .back-icon {
    cursor: pointer;
    margin-right: 10px;
    font-size: 30px !important;
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
  }

  .mat-toolbar-row {
    padding: 0 15px 0 30px;
    height: 90px;
  }

  .mat-button, .mat-icon-button {
    display: block;
    opacity: 1;
    transition: opacity 2s;
  }

  .mat-display-1 {
    max-width: 421px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 768px) {
    .mat-button {
      display: none;
      opacity: 0;
    }

    .mat-display-1 {
      max-width: 100%;
    }
  }

  @media (min-width: 769px) {
    .mat-icon-button {
      display: none;
      opacity: 0;
    }
  }
}

.drawer-side {
  .content-header {
    .menu-icon {
      display: none;
    }
  }
}

.cdk-overlay-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  animation: fadein 0.2s ease-in-out;
}

.owl-dt-popup-container {
  top: 15px !important;
  border-radius: 6px;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
  color: rgba(255, 255, 255, 0.85);
  background-color: mat-color($integrity-accent);
}

.owl-dt-calendar-table .owl-dt-calendar-cell-today:not(.owl-dt-calendar-cell-selected) {
  border-color: mat-color($integrity-primary);
}

.owl-dt-container-control-button {
  color: mat-color($integrity-accent);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
