h2 {
  padding: 6px;
  margin-bottom: 0;
  width: 300px;
}

mat-dialog-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

mat-dialog-actions {
  padding: 18px 6px 30px 6px;
}

mat-form-field {
  padding-top: 30px;

  ::ng-deep {
    label {
      font-size: 18px;
      font-weight: 600;
      color: #333333 !important;
    }
  }
}

input, .mat-select {
  padding-top: 10px;
  height: 22px;
}

