<div class="iframe-container">
  <mat-toolbar class="content-header">
    <app-stripe></app-stripe>
  </mat-toolbar>

  <div class="iframe">
    <div class="loading" [class.ready]="ready">
      <div></div>
      <p>Loading {{controller?.name}}</p>
    </div>
    <iframe #iframe *ngIf="uri" [src]="uri" (load)="load($event)" sandbox="allow-forms allow-scripts allow-same-origin allow-popups"></iframe>
    <div class="information" *ngIf="ready && !uri">
      <div class="mat-headline">{{'controllers.descriptor_title' | translate}}</div>
      <div class="code"><code>{{ controller.descriptor | json }}</code></div>
      <div class="mat-headline">{{'controllers.actions_title' | translate}}</div>
      <ng-container *ngFor="let action of actions">
        <div class="mat-title">{{action.label}}</div>
        <div class="code"><code>{{ action | json }}</code></div>
      </ng-container>
    </div>
  </div>
</div>
