.banner {
  width: 842px;
  height: 130px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}

.mat-toolbar {
  display: none;
}

:host-context(.drawer-over) {
  .banner {
    display: none;
  }

  .mat-toolbar {
    display: flex;
  }
}
