.banner {
  width: 842px;
  height: 130px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  overflow: hidden;

  div {
    color: #fff;
    background: rgba(#000000, 0.2);
    padding-left: 30px;
    width: 842px;
    height: 130px;
    line-height: 130px;
  }
}

.mat-display-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-toolbar {
  display: none;
}

:host-context(.drawer-over) {
  .banner {
    display: none;
  }

  .mat-toolbar {
    display: flex;
  }
}
