.banner {
  width: 842px;
  height: 130px;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  margin-bottom: 15px;

  div {
    color: #fff;
    background: rgba(#000000, 0.2);
    padding-left: 30px;
    padding-right: 30px;
    width: 782px;
    height: 130px;
    line-height: 130px;
  }
}

.mat-display-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-toolbar {
  display: none;
}

.mat-progress-spinner {
  margin: 8px;
}

.button-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host-context(.drawer-over) {
  .banner {
    display: none;
  }

  .mat-toolbar {
    display: flex;
  }
}

.dashboard-wrapper {
  height: calc(100% - 50px);
}

.bottom-section {
  display: flex;
  border-top: 1px solid #e5e5e5;
  align-items: center;
  height: 50px;

  p {
    padding: 0 30px;
    width: 280px;
    margin: 0;
  }

  button {
    padding: 0 30px;
    height: 40px;
    margin: 0 15px;
  }

  ::ng-deep {
    .mat-progress-bar-fill::after {
      background-color: #20afe2;
    }

    .mat-progress-bar-buffer {
      background: #f6f6f6;
    }

    .mat-progress-bar {
      border-radius: 2px;
    }
  }
}
