<div class="dashboard-wrapper">
  <div class="banner" [style.background-image]="bannerImage">
    <div class="mat-display-1" *ngIf="realm">{{realm.label ? realm.label : realm.id}}</div>
  </div>

  <mat-toolbar class="content-header">
    <app-stripe></app-stripe>
    <mat-toolbar-row>
      <mat-icon class="menu-icon" (click)="events.publish('toggle_drawer')">menu</mat-icon>
      <span class="mat-display-1" *ngIf="realm">{{realm.label ? realm.label : realm.id}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <integrity-section [title]="'dashboard.personalise_section' | translate" enableExpansion="true" expansionId="dashboard.personalise" *ngIf="realm && realm.realmDescriptor && !realm.realmDescriptor.banner">
    <mat-card>
      <mat-card-header>
        <mat-card-title><p class="mat-body-2" translate>dashboard.personalise_title</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p translate>dashboard.personalise_content</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="/{{session.realm}}/home/settings" color="accent">
          <mat-icon>camera_alt</mat-icon>{{ 'dashboard.add_pictures' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </integrity-section>

  <integrity-section [title]="'dashboard.controllers_section' | translate" enableExpansion="true" expansionId="dashboard.controllers" *ngIf="controllers && controllers.length > 0">
    <mat-card *ngFor="let controller of controllers">
      <mat-card-header>
        <mat-card-title><p class="mat-body-2">{{controller.name}}</p></mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button mat-button color="accent" routerLink="/{{session.realm}}/home/controller/{{controller.id}}">
            <mat-icon>settings</mat-icon>{{ 'dashboard.setup_now' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </integrity-section>

  <integrity-section [title]="'dashboard.services_section' | translate" enableExpansion="true" expansionId="dashboard.services" *ngIf="services && services.length > 0">
    <mat-card *ngFor="let service of services">
      <mat-card-header>
        <mat-card-title><p class="mat-body-2">{{service.name}}</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{service.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="accent" (click)="install(service)">
          <div class="button-content-container" *ngIf="!isLoadingAvailableServices">
              <mat-icon>add</mat-icon>{{ 'menu.add_service' | translate }}
          </div>
            <mat-progress-spinner *ngIf="isLoadingAvailableServices" mode="indeterminate" diameter="20" color="accent"></mat-progress-spinner>
        </button>
      </mat-card-actions>
    </mat-card>
  </integrity-section>

  <integrity-section [title]="'mandates.invite_to_role' | translate" enableExpansion="true" expansionId="dashboard.invite">
    <mat-card>
      <mat-card-header>
        <mat-card-title><p class="mat-body-2">{{ 'invite.invite_dashboard_title' | translate }}</p></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ 'invite.invite_dashboard_description' | translate }}</p>
      </mat-card-content>
      <mat-card-actions>
      <button mat-button color="accent" routerLink="/{{session.realm}}/home/invite">
        <mat-icon>person_add</mat-icon> {{'mandates.invite_to_role' | translate}}
      </button>
      </mat-card-actions>
    </mat-card>
  </integrity-section>
</div>

<div class="bottom-section">
  <p>{{ 'dashboard.session_expires_content' | translate:{minutes:min, seconds:sec} }}</p>
  <mat-progress-bar mode="determinate" [value]="countdown"></mat-progress-bar>
  <button mat-button color="accent" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>{{ 'menu.logout' | translate }}
  </button>
</div>
