@import "~@brickchain/integrity-theme/theming";

.mat-toolbar {
  position: sticky;
  top: 0;
}
.mat-header-row, .mat-row {
  justify-content: space-between;
}
mat-toolbar-row {
  padding: 0 24px;
}

.mat-header-cell, .mat-cell {
  flex: 0 1 45%;

  &:last-child {
    flex: 0 1 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.mat-header-cell:nth-child(2) {
  padding-left: 12px;
}

.mat-header-cell:last-child {
  justify-content: flex-end;
  padding-right: 12px;
}

.mat-cell:last-child {
  justify-content: flex-end;
}

.fab-add-button {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  // display: none;
  transition: bottom 0.2s ease-out;
}

.fab-add-button.snack-bar-open {
  bottom: 68px;
}

:host-context(.narrow) .fab-add-button {
  display: inline;
}


