<div class="content mat-elevation-z0">

  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field>
        <mat-select [(value)]="activeRole" (selectionChange)="selectRole($event.value)" #matSelect>
          <mat-option *ngFor="let role of roles" [value]="role">{{role.description}}</mat-option>
        </mat-select>
      </mat-form-field>
      <span class="spacer"></span>
      <mat-icon aria-label="Edit role" (click)="editRole()" color="accent">tune</mat-icon>
      <mat-icon aria-label="Delete role" (click)="deleteRole()" color="accent">remove_circle_outline</mat-icon>
      <mat-icon aria-label="Create role" (click)="createRole()" color="accent">add_circle</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Members </mat-header-cell>
      <mat-cell *matCellDef="let item"> {{ item.name }} </mat-cell>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
      <mat-cell *matCellDef="let item" [ngClass]="item.status.toLowerCase()"> {{ item.status }} </mat-cell>
    </ng-container>

    <!-- icons Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <mat-icon aria-label="Create mandate" (click)="sendInvite()" color="accent">add_circle</mat-icon>
      </mat-header-cell>
      <mat-cell *matCellDef="let item">
        <mat-icon aria-label="Revoke mandate" (click)="revokeMandate(item)" *ngIf="item.type != 'invite' && item.status == 'Active'" color="accent">block</mat-icon>
        <mat-icon aria-label="Resend invite" (click)="resendInvite(item)" *ngIf="item.type == 'invite'" color="accent">sync</mat-icon>
        <mat-icon aria-label="Resend invite" (click)="deleteInvite(item)" *ngIf="item.type == 'invite'" color="accent">remove_circle_outline</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <button (click)="sendInvite()" mat-fab class="fab-add-button" [class.snack-bar-open]="isSnackBarOpen">
    <mat-icon aria-label="Create mandate">add</mat-icon>
  </button>

</div>
